@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** DEFAULT STYLE FOR MOBILE/TABLET ***/

.--hide {
  display: none;
}

.gallery__mobile__section {
  color: #fff;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
.gallery__mobile__title {
  font-size: 4em;
  font-weight: 200;
  text-align: center;
  padding-bottom: 0.5em;
}

/*** HOME ***/
/* HEADER */

.header {
  position: absolute;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 10vw;
}

.header__ul {
  list-style-type: none;
  display: flex;
  gap: 3em;
}

.ul__nav {
  font-weight: 400;
  font-size: 20px;
  gap: 7vw;
}

.ul__icons {
  gap: 2vw;
}

.header__link a {
  text-decoration: none;
  color: inherit;
}

.header__icon {
  font-size: 20px;
}

.header__icon a {
  color: inherit;
}

.link--focus {
  font-weight: bold;
}
/* MAIN */

.main__index {
  height: 100vh;
  background-image: url(assets/img/parasite-gallery-03.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: center;
}

.main__image__container {
  padding-top: 15vh;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** GALLERY ***/
/* MAIN */

.main__gallery {
  background-image: url(assets/img/fullscreen-bg.jpg);
  background-size: cover;
}

.gallery__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnails__container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 1em;
  justify-content: center;
  align-content: center;
}

.gallery__image__container {
  display: grid;
  grid-template-rows: 1fr;
}

.gallery__image,
.gallery__image__para {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.gallery__image__para {
  align-self: end;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2% 0;
  font-family: 'Oswald', sans-serif;
}

/*** SYNOPSIS ***/
/* MAIN */

.main__synopsis {
  background-image: url(assets/img/fullscreen-bg.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

.main__synopsis__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15vh 5%;
  display: grid;
  justify-items: center;
}

.synopsis__content__container {
  padding-top: 5em;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 570px));
  justify-items: center;
}

.synopsis__text__container {
  font-size: 20px;
}

.synopsis__text {
  padding-bottom: 1.5em;
}

.synopsis__table {
  font-size: 20px;
}

.table__title {
  padding-bottom: 4em;
}

.table__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7em;
}

.table__item {
  padding-bottom: 2em;
}

.text--30px {
  font-size: 30px;
  font-weight: 400;
}

/*** CAST ***/
/* MAIN */

.main__cast {
  background-image: url(assets/img/fullscreen-bg.jpg);
  background-size: cover;
  background-position: top center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
.main__cast__container {
  padding: 15vh 5%;
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  gap: 7em;
}

.cast__section {
  display: flex;
  gap: 10vw;
}

.cast__section:nth-child(even) {
  flex-direction: row-reverse;
}

.section__title {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 1em;
}

.section__para {
  padding-bottom: 1em;
}

.section__image {
  object-fit: contain;
}

/********************************************/

/* MEDIA QUERIES */

/* TABLET*/
@media screen and (max-width: 800px) {
  /*** HOME ***/
  /* HEADER*/

  .header {
    padding: 0 2%;
  }

  .ul__nav {
    gap: 4vw;
  }

  /* MAIN */

  .main__index {
    align-items: center;
  }
  .main__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .button__mobile__container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }

  .main__button__mobile {
    height: 40px;
    width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }

  .main__image__container {
    width: 70vw;
    height: auto;
  }
  .main__logo {
    padding: 0;
    width: 100%;
    height: auto;
  }

  /* GALLERY */

  .thumbnails__container {
    display: none;
  }

  .gallery__mobile__section {
    display: block;
  }

  .thumbnails__container__mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    row-gap: 2em;
    column-gap: 1em;
  }

  .mobile__gallery__image {
    width: 100%;
  }

  .gallery__mobile__title {
    display: none;
  }

  .main__gallery {
    height: initial;
  }

  .gallery__mobile__section {
    padding: 20vh 3% 15vh 3%;
  }

  /* SYNOPSIS */

  .main__synopsis__container {
    display: none;
  }

  .synopsis__mobile__title {
    display: none;
  }

  .synopsis__mobile__container {
    display: grid;
    padding: 15vh 10% 15vh 10%;
    grid-template-columns: minmax(150px, 1fr);
    justify-content: center;
    gap: 2em;
    font-size: 24px;
  }

  .synopsis__table__mobile {
    padding: 0 5%;
    display: grid;
    justify-self: center;
  }

  .mobile__table__item {
    padding-bottom: 2em;
  }

  .mobile__table__title {
    font-weight: 200;
  }

  .mobile__table__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20vw;
  }

  /* CAST */

  .main__cast__container {
    padding: 20vh 15% 15vh 15%;
  }

  .cast__section {
    display: flex;
    gap: 5em;
    align-items: center;
    text-align: center;
  }

  .cast__section,
  .cast__section:nth-child(2n) {
    flex-direction: column;
  }
}

/* MOBILE */

@media screen and (max-width: 480px) {
  /*** INDEX ***/
  /* HEADER */

  .header {
    display: none;
  }

  .header__mobile {
    display: block;
    width: 100%;
    height: 30vh;
    position: fixed;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .header__mobile__container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 2em;
    padding-left: 3%;
  }

  .burger__icon {
    position: fixed;
    right: 0;
    top: 0;
    color: #fff;
    padding: 5%;
    font-size: 30px;
  }

  .header__mobile__logo {
    max-width: 100%;
    height: auto;
  }

  /* MAIN */

  .main__image__container {
    display: none;
  }

  .main__button__mobile {
    display: block;
    width: 180px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: solid 1px #000;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }

  .main__index {
    background-size: auto;
    align-items: end;
  }

  .button__mobile__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 10vh;
  }

  /* FOOTER */

  .footer__index {
    display: none;
  }

  /*** GALLERY ***/
  /* HEADER */

  .mobile--gallery,
  .mobile--synopsis,
  .mobile--cast {
    background: none;
    position: absolute;
  }

  /* MAIN */

  .gallery__mobile__section {
    display: block;
  }

  .main__gallery {
    height: initial;
  }

  .gallery__mobile__section {
    padding: 30vh 0 10vh 0;
  }

  .thumbnails__container {
    display: none;
  }

  .gallery__mobile__title {
    font-size: 4em;
    font-weight: 200;
    text-align: center;
    padding-bottom: 0.5em;
  }

  .thumbnails__container__mobile {
    display: grid;
    grid-template-columns: 1fr;
  }
  .mobile__gallery__image {
    width: 100%;
    height: auto;
  }

  .mobile__gallery__para {
    font-size: 16px;
    padding: 2% 1% 5% 1%;
  }

  /*** SYNOPSIS ***/
  /* MAIN */

  .main__synopsis__container {
    display: none;
  }

  .synopsis__mobile__container {
    display: grid;
    padding: 30vh 2% 15vh 2%;
    grid-template-columns: minmax(150px, 400px);
    gap: 2em;
    font-size: 20px;
  }

  .synopsis__table__mobile {
    padding: 0 5%;
    display: grid;
    justify-self: center;
  }

  .mobile__table__item {
    padding-bottom: 2em;
  }

  .mobile__table__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20vw;
  }

  .synopsis__mobile__title {
    font-weight: 200;
    text-align: center;
  }

  .mobile__table__title {
    font-weight: 200;
  }

  /*** CAST ***/
  /* MAIN */

  .main__cast__container {
    padding: 30vh 5% 15vh 6%;
  }

  .cast__section,
  .cast__section:nth-child(even) {
    flex-direction: column;
  }
}
